/* 
 - FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

 - SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&family=Rubik:wght@400;500;600;700&display=swap');

html {
  /* default: 10px */
  /* 10 / 16 * 100 = 62.5 */
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 2.8rem;
  font-family: 'Muli', sans-serif;
  text-align: center;
  background-color: #e1e1e1;
}

.key {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  min-width: 15rem;
  padding: 2.4rem;
  margin: 1rem;
  font-size: 2.4rem;
  font-weight: bold;
  background-color: eee;
  border: 1px solid #858383;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

small {
  position: absolute;
  top: -2.4rem;
  left: 0;
  width: 100%;
  font-size: 1.4rem;
  text-align: center;
  color: #555;
}

/* button {
  padding: 2.5rem 4.4rem;
  font-size: 2.8rem;
  font-family: inherit;
  border: 1px solid gray;
  cursor: pointer;
  font-weight: 700;
  display: block;
  border-radius: 4px;
  background-color: antiquewhite;
}

.output {
  display: none;
  gap: 5rem;
}

p {
  text-align: center;
  margin-bottom: 0.8rem;
  font-weight: 300;
  color: rgb(158, 158, 158);
}

.box {
  padding: 2.5rem 4.4rem;
  border-radius: 4px;
  border: 0.5px solid gray;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
} */
