/* 
 - FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

 - SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik:wght@400;500;600;700&display=swap');

html {
  /* default: 10px */
  /* 10 / 16 * 100 = 62.5 */
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

button {
  padding: 2rem 4.4rem;
  border: 1px solid gray;
  cursor: pointer;
  font-weight: 400;
  display: none;
}

.output {
  display: flex;
  gap: 2rem;
}

p {
  text-align: center;
  margin-bottom: 0.8rem;
  font-weight: 300;
  color: rgb(158, 158, 158);
}

.box {
  padding: 2rem 4.4rem;
  border: 1px solid gray;
  font-weight: bold;
}
